# Node.js
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
.next/
out/
build
.turbo

# Local dev environment files
.env
.env.*
!.env.example
!.env.appStore.example
packages/prisma/.env

# IDEs & editor junk
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Testing & coverage
coverage
/test-results/
**/playwright/videos
**/playwright/screenshots
**/playwright/artifacts
**/playwright/results
**/playwright/reports/*

# Misc
*.pem
tsconfig.tsbuildinfo
.history/
i18n.cache

# Prisma output
packages/prisma/zod/*.ts
packages/prisma/enums

# Vercel
.vercel

# Snaplet
.snaplet/snapshots
.snaplet/structure.d.ts

# Yarn PnP (modern)
.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Git submodules (optional — only if you're excluding these apps)
# apps/website
# apps/console
# apps/auth
